# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
DerivedData/
*.xcworkspace

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Build artifacts
*.o
*.swiftmodule
*.swiftdoc
*.d
*.dia
